<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Newslettery <%= htmlWebpackPlugin.options.title %> data</title>
    <script src="webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="stylesheet" href="vendors/skeleton.min.css">
</head>
<body>



</body>
</html>
