<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Newslettery <%= htmlWebpackPlugin.options.title %></title>
    <script src="webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="stylesheet" href="vendors/skeleton.min.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <wp-logo></wp-logo><wp-page-name name="#newsletter"></wp-page-name>
            </div>
        </div>
    </div>
    <div class="title-bar-background">
        <div class="container">
            <div class="twelve columns">
                <wp-title-bar></wp-title-bar>
            </div>
        </div>
    </div>
</header>
<form name="newsletters" method="get" action="/add-contact">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <p>
                    <strong>Każdego dnia zbieramy dla Ciebie najnowsze i najciekawsze informacje.</strong> Wybierz interesujące Cię newslettery i zapisz się jednym kliknięciem.
                </p>
            </div>
        </div>
        <fieldset>
            <wp-cards-list></wp-cards-list>
        </fieldset>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <wp-form-info></wp-form-info>
                </div>
                <div class="twelve columns">
                    <wp-form></wp-form>
                </div>
                <div class="twelve columns">
                    Wysyłając formularz akceptujesz <a href="https://holding.wp.pl/poufnosc" target="_blank">Regulamin</a> i <a href="https://holding.wp.pl/zasady" target="_blank">Politykę Prywatności</a>.
                </div>
            </div>
        </div>
    </footer>
</form>
<script type="text/javascript">
    var _smid = "3u0o1xi181w5w4r0";
    (function(w, r, a, sm, s ) {
        w['SalesmanagoObject'] = r;
        w[r] = w[r] || function () {( w[r].q = w[r].q || [] ).push(arguments)};
        sm = document.createElement('script'); sm.type = 'text/javascript'; sm.async = true; sm.src = a;
        s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(sm, s);
    })(window, 'sm', ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pilot.salesmanago.pl/static/sm.js');
</script>
</body>
</html>
